.item-container {
  background: #85c7de;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action_buttons_container {
  display: flex;
  /* margin-right: 5px; */
}
.button-edit {
  margin-right: 5px;
}
